.data-table table {
  width: 100%;
}
.data-table td,
.data-table th {
  line-height: 38px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 5px;
}
.data-table td {
  background-color: #ffffff;
  color: #666666;
}
.data-table td:first-child,
.data-table th:first-child {
  padding-left: 20px;
}
.data-table td:last-child,
.data-table th:last-child {
  padding-right: 20px;
}
.data-table td.even {
  background-color: #f4f7f9;
}
.data-table th {
  background-color: #616e77;
  color: #cccccc;
}
.data-table .table-header,
.data-table .table-footer {
  background-color: #f4f7f9;
  min-height: 50px;
  border-radius: 5px;
  border: 1px solid #dce4e9;
}
.data-table .table-header {
  border-radius: 5px 5px 0 0;
}
.data-table .table-footer {
  border-radius: 0 0 5px 5px;
}
