<article class="markdown-body entry-content" itemprop="mainContentOfPage"><h1>
<a name="ibone" class="anchor" href="#ibone"><span class="octicon octicon-link"></span></a>IBone</h1>

<hr><p>IBone is a framework that is being developed on top of very popular and widely adopted Backbone JS, obligating flexibility, scalability and high-performance as core principles. With IBone common boiler-plate code is not needed any more, and developer can concentrate more on building user friendly uber-cool interactions rather than worrying about implementations rather than managing views, models and controllers. </p>

<p>Salient futures of IBone include</p>

<ul>
<li> Use common terminologies like App and Page, easy to be picked up by novice.</li>
<li> Built-in "load on demand" features, let you control what, when and how to load.</li>
<li> View - SubView management, IBone maintains parent-child relationship for Views and SubViews, make sure there is no memory leaks while adding and removing them.</li>
<li> Auto-wired listeners for almost any thing that you want to listen, it could be Application Events, Page Events or Custom Events in View itself</li>
<li> Strong Form widget with validators, error handlers. Activation rules for managing fields with dependencies. </li>
<li> Custom Form Elements, by just adhering to simple IO API you can seamlessly integrate it to work with Form Widget.</li>
<li> DataTable widget with ability to sort/filter/paginate on both client side and server side, set for formatters which covers most of the usecases, you can define your own formatters as well.</li>
<li> Chart widget to showcase your numbers with predefined set of beautiful graphs.</li>
<li> Validators and Formatters are developed as a seperate modules, can be used outside Form/Table/Chart widgets</li>
<li> Supports multiple templating engines like Handlebars,Underscore. Can be easily extended to support more engines.</li>
</ul><p>Apart from above, IBone supports</p>

<ul>
<li> Dynamic templating</li>
<li> Stated Views, use them to switch views with sharing model/collection</li>
<li> Post Message communication between view ans sub views</li>
<li> Collection View for rendering repetative views</li>
<li> Predefined set of Handlebar helpers</li>
</ul></article>