<div>
    <h1>{{string 'page.title.examples'}}</h1>
    <ul>
        <li><a href="#examples/baseView">Base View</a> 
        </li>
        <li><a href="#examples/form">Form View</a> 
        </li>
        <li><a href="#examples/list">Lists</a> 
        </li>
        <li><a href="#examples/collection">Collection</a> 
        </li>
        <li><a href="#examples/table">Table</a> 
        </li>
        <li><a href="#examples/config">Config</a> 
        </li>
        <li><a href="#examples/chart">Chart</a> 
        </li>
        <li><a href="#examples/toggler">Toggler</a> 
        </li>
        <li><a href="#examples/watcher">Watcher</a>
        </li>
        <li><a href="#examples/calendar">Calendar</a> 
        </li>
        <li><a href="#examples/dropdown2">Drop Down2</a>
        </li>
        <li><a href="#examples/messageStack">Message Stack</a>
        </li>
    </ul>
</div>
