<div class="form-message-container"></div>
<form action="{{actionId}}" class="custom-form" method="">
    <div class="group-list">
        <div class="grp-elements">
            <div class="element-userName">
                <input type="text" name="userName" placeholder="rendered from template"/>
                This element rendered from custom form template
            </div>
            <div class="element-password">
                <input name="password" type="password" placeholder="rendered from template"/>
                This element rendered from custom form template
            </div>
        </div>
    </div>
    <div class="grp-buttons">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button class="btn">Cancel</button>
    </div>
</form>