<div class="form-message-container"></div>
<form action="{{actionId}}" class="custom-form" method="">
    <div class="group-list">
        <div class="grp-elements">

            <div class="element-userName">
                <div class="form-group">
                    <input type="text" name="userName" placeholder="rendered from template" />
                    <span class="message-block"></span>
                    <span class="help-block">This element rendered from custom form template</span>
                </div>
            </div>


            <div class="element-password">
                <div class="form-group">
                    <input name="password" type="password" placeholder="rendered from template" />
                    <span class="message-block"></span>
                    <span class="help-block">This element rendered from custom form template</span>

                </div>
            </div>
        </div>
    </div>
    <div class="grp-buttons">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button class="btn">Cancel</button>
    </div>
</form>

<p>

</p>